/* * {
  border: 1px solid red;
} */

/*Setting Open Sans as the primary font for the document, border box*/
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-align: center;
}

/*Make paragraph text grey*/
p {
  color: #7f7f7f;
}

h1 {
  font-weight: 900;
  font-size: 1.75em;
  text-align: center;
}

/*Turn off text decoration and color for anchor tags*/
a {
  text-decoration: none;
  color: inherit;
}

.flex-wrapper {
  display: flex;
}

/*Removing bullets and indentation for unordered lists used inside top and bottom nav, centering them and capitalizing them*/
nav > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fafafa;
}

header {
  display: flex;
  flex-wrap: wrap;
}

/*Set width to maximum for mobile layout*/
header,
header h1,
header nav {
  width: 100%;
}

header nav li {
  padding: 10px 0;
  margin: 10px 0;
  background-color: white;
  width: 100%;
}

/*Setting background colors*/
body {
  background-color: #fafafa;
}

.portfolio {
  background-color: white;
}

section {
  padding: 3em 0;
}

.responsive-layout-profile img {
  width: 60%;
  height: auto;
}

/*Each section h2 gets uppercase letters*/
section h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2.75em;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

.contact h3 {
  color: #7f7f7f;
}

/*Hiding nav buttons inside footer for mobile version*/
.largernav {
  display: none;
}

footer h2,
footer li {
  font-size: 1em;
}

footer h2 {
  padding-bottom: 3px;
}

.footer-space {
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #7f7f7f;
}

.footer-space li {
  background-color: #fafafa;
}

/*Tablet layout*/
@media (min-width: 48em) {
  header {
    display: flex;
    justify-content: center;
  }

  header nav {
    /*width: initial;*/
    display: flex;
    justify-content: center;
  }

  nav > ul {
    display: flex;
    justify-content: center;
    max-width: initial;
  }

  header nav li {
    margin: 10px;
    background-color: #fafafa;
  }
}
